{{ ansible_managed | comment }}

ext_if="{{ host_net_ext_if }}"
ext_ip="{{ host_net_ext_ips }}"
host_net_priv_if="{{ host_net_priv_if }}"
host_net_priv_ip="{{ host_net_priv_ip }}"

icmp_types="{ 0, 3, 4, 8, 11 }"

sshd_port={{ host_sshd_port }}

set block-policy return
scrub in all

###########
# NAT rules

nat-anchor nat-jail
load anchor nat-jail from "/etc/pf.anchor.nat-jail.conf"

###########
# RDR rules

rdr-anchor rdr-jail
load anchor rdr-jail from "/etc/pf.anchor.rdr-jail.conf"

#######
# Rules
block out log all
block in log all

# allow dhcp
pass out quick log on $ext_if inet proto udp from any port { bootps,bootpc } to any port { bootps,bootpc } keep state
{% if host_net_priv_if != '' %}
pass out quick log on $host_net_priv_if inet proto udp from any port { bootps,bootpc } to any port { bootps,bootpc } keep state
{% endif %}

# allow sshd (as long as there is no jump jail)
pass log proto tcp from any to $ext_ip port $sshd_port keep state
pass log proto tcp from 127.0.0.1 to 127.0.0.1 port $sshd_port keep state

# allow outgoing DNS and HTTP(S) traffic on external interface
pass out quick log on $ext_if proto { tcp,udp } from $ext_ip to any port 53
pass out quick log on $ext_if proto { tcp } from $ext_ip to any port { 80,443 }

# allow tarsnap traffic
pass out quick log on $ext_if proto tcp from $ext_ip to 75.101.135.185 port 9279

# allow outgoing mail via sstmp
pass out quick log on $ext_if proto tcp from $ext_ip to {{ ssmtp_mailhub }} port {{ ssmtp_mailhub_port }}

# pass outgoing ntp request
pass out quick log on $ext_if proto udp from $ext_ip to any port ntp

anchor rls-jail
load anchor rls-jail from "/etc/pf.anchor.rls-jail.conf"

# ICMP
pass inet proto icmp all icmp-type $icmp_types queue icmp label "ICMP"
